@{
    ViewBag.Title = "Idiomas";
    var Description = "Gerir os idiomas.";
}

<div class="page-header">
    <h1>@ViewBag.Title <br /> <small>@Description</small></h1>
</div>

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Página Inicial</a></li>
    <li class="active">Idiomas</li>
</ol>

<div id="webgrid">
    <div id="webgrid-content">
        @{ Html.RenderAction("IndexGetLanguages", new { page = 0 }); }
    </div>
</div>